<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="enib.gala">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.SlidrActivityTheme">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin_Selection"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".ShowTicket"
            android:label="@string/title_activity_show_ticket"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Admin_EntranceMode"
            android:label="@string/title_activity_admin__entrance_mode"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".ScannedBarcodeActivity"
            android:label="@string/title_activity_scanned_barcode"
            android:theme="@style/AppTheme.SlidrActivityTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ScanBraceletActivity"
            android:label="@string/title_activity_scanned_bracelet"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowActivityTransitions="true">
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin_RechargeMode"
            android:label="@string/title_activity_admin__recharge_mode"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Store"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".ShowHistory"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Admin_BarMode"
            android:label="@string/title_activity_admin__bar_mode"
            android:theme="@style/AppTheme.SlidrActivityTheme">
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>